<div class="navbar_container">
  <div class="navbar">
    <div class="navbar_content">
      <div class="navbar_right">
        <div><img src="/assets/svg/Eye.svg" alt="logo image" /></div>
        <ul>
          <li>
            <p class="notification">12</p>
            <a routerLink="/optom/referrals" routerLinkActive="text-mGreen"
              >Referrals</a
            >
          </li>
          <li>
            <p class="notification">8</p>
            <a>chats</a>
          </li>
          <li><a>User Guide</a></li>
          <li><img src="/assets/svg/file.svg" alt="file image" /></li>
        </ul>
      </div>
      <div class="flex items-center relative text-sm">
        <mat-icon class="absolute ml-3 text-tGrey">search</mat-icon>
        <input
          type="text"
          placeholder="Search NHS number, Name, DOB, etc"
          class="navbar_search"
        />
      </div>
      <div class="flex items-center gap-4">
        <p class="font-bold">Filter</p>
        <div class="navbar_select">
          <select>
            <option class="selected">All</option>
          </select>
        </div>
      </div>
      <div>
        <p class="cursor-pointer hover:text-mGreen">Doctor Meera</p>
      </div>
    </div>
  </div>
</div>
