@tailwind components;

*,
*::before,
*::after {
  box-sizing: border-box;
}

select {
  appearance: none;
  background-color: transparent;
  margin: 0;
  width: 100%;
  outline: none;
  cursor: pointer;
  z-index: 2;
}

select::-ms-expand {
  display: none;
}

.navbar_select {
  width: 165px;
  max-width: 165px;
  border: 2px solid #e5e7eb;
  border-radius: 6px;
  padding: 8px 6px;
  line-height: 1.1;
  background-color: transparent;
  font-size: 14px;
  color: #888888;
  display: grid;
  grid-template-areas: "select";
  align-items: center;
  position: relative;
}

.navbar_select::after {
  content: "";
  width: 0.8em;
  height: 0.5em;
  background-color: #888888;
  clip-path: polygon(100% 0%, 0 0%, 50% 100%);
}

select,
.navbar_select:after {
  grid-area: select;
  justify-self: end;
}

option {
  background-color: #f5f8fa;
}

@layer components {
  .navbar_right {
    @apply flex gap-7;
  }
  .navbar_right ul {
    @apply flex items-center gap-12;
  }
  .navbar_right ul li {
    @apply relative cursor-pointer;
  }
  .navbar_right ul li a {
    @apply hover:text-mGreen;
  }
  .notification {
    @apply absolute font-semibold right-[-23px] mb-3 -mt-5 text-[12px] bg-nRed w-[22px] h-[22px] rounded-full flex justify-center items-center text-white;
  }
  .navbar_container {
    @apply fixed bg-white top-0 w-full flex justify-center;
  }
  .navbar {
    @apply relative max-w-[1512px] w-full;
  }
  .navbar_content {
    @apply flex justify-between items-center py-5 w-[95%] mx-auto;
  }
  .navbar_search {
    @apply bg-fGrey py-[10px] pl-12 pr-4 rounded-2xl w-[345px] outline-none;
  }
}
