<div class="fixed bg-white top-0 w-full flex justify-center">
  <div class="relative max-w-[1512px] w-full">
    <div class="flex justify-between items-center py-5 w-[95%] mx-auto">
      <div class="navbar_right">
        <div><img src="/assets/svg/Eye.svg" alt="logo image" /></div>
        <ul>
          <li>
            <p class="notification">12</p>
            <a>Referrals</a>
          </li>
          <li>
            <p class="notification">8</p>
            <a>chats</a>
          </li>
          <li><a>User Guide</a></li>
        </ul>
      </div>
      <div class="flex items-center relative text-sm">
        <mat-icon class="absolute ml-3 text-tGrey">search</mat-icon>
        <input
          type="text"
          placeholder="Search NHS number, Name, DOB, etc"
          class="bg-fGrey py-[10px] pl-12 pr-4 rounded-2xl w-[345px] outline-none"
        />
      </div>
      <div class="flex items-center gap-4">
        <p class="font-bold">Filter</p>
        <div class="navbar_select">
          <select>
            <option class="selected">All</option>
          </select>
        </div>
      </div>
      <div>
        <p>Doctor Meera</p>
      </div>
    </div>
  </div>
</div>
